* {
    margin: 0;
    box-sizing: border-box;
    font-family: "superclarendon", serif;
    font-weight: 300;
    font-style: normal;
}

/* farvepallette */

:root {
    --sort: #1D1D1B;
    --hvid: #fff;
    --blå: #263570;
    --mørkereblå: #263570;
    --brun: #6C4D30;
    --beige: #EAD98F;
    --mørkgrøn: #616E43;
    --lysgrøn: #97A068;
    --grå: #3e3e3e;
}

/* her starter hele formularen med drag and drop */

.drag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-image: url(img/delbaggrund.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 108px;
}

/* dette område styre alt content i formularen */

.tour-share {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 900px;
    height: 750px;
    text-align: center;
}

/* dette er feltet hvor man skal drag and drop */

.image-upload {
    border: 2px dashed var(--grå);
    padding: 40px;
    height: 350px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* det her er et implementeret drag and drop billede */

#drop {
    margin-top: 35px;
    height: 150px;
    width: auto;
}

/* dette er deen stiblede linje rundt om selve drag and drop billedet */

.image-upload:hover {
    border-color: var(--grå);
}

form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"], 
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--hvid);
}

form textarea {
    resize: none;
    height: 150px;
}

form .ratings {
    display: flex;
    justify-content: space-between;
}

form .stars {
    font-size: 20px;
    color: var(--grå);
}

/* her er knappens kode, den linker til en anden html på sitets html */

#svarknap {
    background-color: var(--brun);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    padding: 10px;
    width: 250px;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--beige);
}

/* her starter link-justeringer */

a:link {
    color: var(--hvid);
    background-color: transparent;
    text-decoration: none;
  }

a:visited {
    color: var(--hvid);
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: var(--grå);
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: var(--grå);
    background-color: transparent;
    text-decoration: underline;
  }

/* her slutter link justering */

/* dette er settings for alle artikler inkl forside */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: none;
    text-decoration: none;
    max-height: 100%;
    background-size: cover;
    background-position: center;
}

#headlogo {
    position: absolute;
    top: 18px;
    left: 60px;
    width: auto;
}

/* søgefelt */

input[type=text] {
    position: absolute;
    background: var(--hvid);
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    top: 10px;
    right: 40px;
  }
  
/* hvor meget søgefeltet skal ændre sig, når den er i brug */

  input[type=text]:focus {
    width: auto;
  }

/* menu i header */

header {
    position:fixed;
    display:flex;
    top:0;
    left:0;
    right:0;
    background: var(--sort);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 30px 7%;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    text-transform: uppercase;
}

header .menu {
    font-weight: bolder;
    font-size: 15px;
    color: var(--hvid);
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    text-decoration-line: underline;
    text-decoration-color: var(--hvid);
    position: relative;
    float: left;
    right: 10px;
}

header .navbar ul li a {
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    color: var(--hvid);
    display: block;
}

header .navbar ul li a:hover {
    background: var(--grå);
    color: var(--hvid);
}

header .navbar ul li ul {
    position: absolute;
    padding: 20px;
    width: auto;
    background: var(--sort);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    /*border-top: 1px solid var(--sort);*/
}

header .navbar ul li ul li ul {
    left: 100px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

header label {
    font-size: 15px;
    color: var(--grå);
    cursor: pointer;
    display: none;
}

#menu-bar {
    display: none;
}

/* menu slutter */

main {
    margin-top: -10px;
}

/* første knap på forside */

#knap1 {
    position: relative;
    top: 100px;
    width: 150px;
    left: 200px;
    text-decoration-style: none;
    text-align: center;
    color: var(--hvid);
    background-color: var(--lysgrøn);
    font-size: 15px;
    padding: 10px;
}

/* anden knap på forside */

#knap2 {
    position: relative;
    top: 500px;
    width: 150px;
    left: 960px;
    text-decoration-style: none;
    text-align: center;
    color: var(--hvid);
    background-color: var(--blå);
    font-size: 15px;
    padding: 10px;
}

/* tredje knap på forside */

#knap3 {
    position: relative;
    top: 270px;
    width: 150px;
    left: 250px;
    text-decoration-style: none;
    text-align: center;
    color: var(--hvid);
    background-color: var(--brun);
    font-size: 15px;
    padding: 10px;
}

/* første billede på forside */

.nyhed {
    height: 700px;
    width: 100%;
    background-image: url("img/nyhed.png");
}

/* andet billedee på forside */

.info {
    height: 700px;
    width: 100%;
    background-image: url("img/stel.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* tredje billede på forside */

.deltur {
    height: 700px;
    width: 100%;
    background-image: url("img/biker.jpg");
    background-size: cover;
}

/* første tekst - overskrift på forside */

.roed1 {
    position: relative;
    top: 240px;
    width: 200px;
    height: 33vh;
    left: 420px;
    text-align: center;
    color: var(--hvid);
    font-size: 100px;
}

/* anden tekst - overskrift på forside */

.roed2 {
    position: relative;
    top: 460px;
    left: 800px;
    width: 550px;;
    text-align: center;
    color: var(--hvid);
    font-size: 50px;
}

/* tredje tekst - overskrift på forside */

.roed3 {
    position: relative;
    top: 240px;
    right: 370px;
    text-align: center;
    color: var(--hvid);
    font-size: 50px;
}

/* første tekstfelt - overskrift på info siden */

.newh1 {
    position: relative;
    top: 400px;
    width: 600px;
    height: 33vh;
    left: 60px;
    text-align: center;
    color: var(--hvid);
    font-size: 30px;
    text-align: left;
    background-color: var(--blå);
    padding: 20px;
}

/* første overskrift på info siden */

.nyhedtext1 {
    position: relative;
    display: flex;
    top: 400px;
    width: 600px;
    left: 60px;
    text-align: left;
    color: var(--hvid);
    font-size: 12px;
    padding: 10px;
}

/* anden tekstfelt på info siden */

.newh2 {
    position: relative;
    top: 300px;
    width: 550px;
    height: 27vh;
    left: 850px;
    text-align: right;
    color: var(--hvid);
    font-size: 25px;
    background-color: var(--blå);
    padding: 10px;
}

/* anden overskrift på info siden */

.nyhedtext2 {
    position: relative;
    display: flex;
    top: 400px;
    width: 500px;
    left: 870px;
    text-align: left;
    color: var(--hvid);
    font-size: 12px;
}

/* første brødtekst på info siden */

.baggrund1 {
    height: 700px;
    width: 100%;
    margin-top: -130px;
    background-image: url("img/rat.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* andet brødtekst på info siden */

.baggrund2 {
    height: 700px;
    width: 100%;
    margin-top: -228px;
    background-image: url("img/gear.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*
Grundet tidsrammen for opgaven har jeg valgt ikke at tage mit slideshow med,
men hvis jeg havde haft mere tid til det, havde jeg lavet slideshowet således:

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;
  }
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
*/

/* her er justeringer på hele "kongen"-sitet (i nyhed) */

.kongen {
    height: 700px;
    width: 100%;
    margin-top: 108px;
    background-image: url("img/nyhed.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*  */

#øverstekst {
    position: relative;
    top: 240px;
    left: 100px;
    width: 600px;
    height: 320px;
    text-align: left;
    color: var(--hvid);
    font-size: 15px;
    background-color: var(--lysgrøn);
    padding: 20px;
}

/* dette er containeren med de to billeder nederst i nyhed */

.nederst {
    display: flex;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--mørkgrøn);
}

/* billede justering på venstre billede nederst på site */

#vinder {
    width: auto;
    height: 370px;
}

/* container-displaybilledet */

.display {
    display: flex;
    width: auto;
    height: 600px;
    margin-left: 100px;
}

/* billede justering på højre billede nederst på site  */

#display {
    right: 10px;
    margin-right: 150px;
    margin-top: 14%;
}

/* container med den hollanske stjerne på nyhed-site */

.hollansk {
    display: flexbox;
    margin-top: 5%;
    margin-left: 200px;
    max-width: 570px;
}

.svare {
    height: 1000px;
    width: 100%;
    background-image: url(img/delbaggrund.jpg);
    background-size: cover;
}

.deltursvar {
    position: relative;
    top: 350px;
    width: 700px;
    height: 33vh;
    left: 380px;
    text-align: center;
    color: var(--hvid);
    font-size: 25px;
}

/* footer */

footer {
    display: flex;
    align-content: flex-end;
    width: 100%;
    background-color: var(--sort);
    color: var(--hvid);
    padding: 35px;
    justify-content: space-between;
    font-size: 13px;
    flex-wrap: wrap-reverse;
    text-transform: none;
  }

footer ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
